<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)  %></title>
    <%= render 'layouts/renders/rails-default' %>
  </head>
  <body>
      <div class="container">
        <%= link_to "antiplagiarism", '#',id: "logo" ,:class => 'logs' %>
      </div>
    <div class="container" style = "padding-top:20px;">
      <p class="notice"><%= notice %></p>
      <%= yield %>

      <%= render 'layouts/renders/footer' %>
    </div>
  </body>
</html>
